/hadruwaves-studio/branding/target/
/hadruwaves-studio/application/target/
/hadruwaves-studio/hadruwaves-studio-core/target/
/hadrumaths/hadrumaths-scala/target/
/hadruwaves/hadruwaves-scala-examples/target/
/hadrumaths/hadrumaths-scala-examples/target/
/hadruwaves/hadruwaves-scala/target/
/hadrumaths/hadrumaths-java/temp/
/DirPEC2.m
/EphiPEC2.m
/Ascala.m
/PoyPEC2.m
/EthetaPEC2.m
/sp-numeric.m
/sp-formal.m
/hadruwaves-studio/hadruwaves-studio-standalone/runtime/
/hadruwaves-studio/hadruwaves-studio-standalone/config/
/hadruwaves-studio/hadruwaves-studio-standalone/assemble/
/hadruwaves/hadruwaves-scala-examples-old/
/hadruwaves/hadruwaves-java/target/
/hadruwaves-studio/target/
# Project exclude paths
/hadrumaths/hadrumaths-java/target/
/hadrumaths/hadrumaths-java-test/target/
/hadruplot/target/
/hadruwaves/hadruwaves-java-examples/target/
/hadruwaves/hadruwaves-java-test/target/
/hadruwaves/hadruwaves-puppets/target/
/hadruwaves-studio/hadruwaves-studio-standalone/target/
/tutorials/hadruwaves-tutorial/target/
/hadruwaves/hadruwaves-scala-helloworld/target/
/hadrumaths/hadrumaths-scala-helloworld/target/
\.idea/

*.iml
/hadruwaves-studio/hadruwaves-studio-standalone/.idea/
/hadrumaths/hadrucommon-params/target/
/hadrumaths/hadrumaths-plot/target/
/hadrumaths/hadrumaths/target/
/hadrumaths/hadrumaths/temp/
/hadrumaths/hadrumaths/temp1.txt
/hadrumaths/hadrumaths/temp2.txt
/hadrumaths/hadrumaths/temp3.txt
/hadrumaths/hadrumaths-apache-math3/target/
/hadrumaths/hadrumaths-jama/target/
/hadrumaths/hadrumaths-jblas/target/
/hadrumaths/hadrumaths-jts/target/
/hadrumaths/hadrumaths-ojalgo/target/
/hadrumaths/hadrumaths-units/target/
/hadruplot/hadruplot/target/
/hadruwaves/hadruwaves-hl-examples/target/classes/
/log/
/lsp/
/PoyFreeSpaceXZ.m
/PoyFreeSpaceYZ.m
/temp1.txt
/temp2.txt
/old-versions/3.1.33/target/
/poyTissueYZ.m
/poyTissueXZ.m
/PoyTissue.m
/DirTissue.m
/hadruplot/hadruplot-app/target/
/hadruplot/libraries/hadruplot-calc3d/target
/hadruplot/libraries/hadruplot-simple/target
/hadruplot/libraries/hadruplot-jfreechart/target
/hadruplot/libraries/hadruplot-jzy3/target
/hadruplot/libraries/hadruplot-laf/target
/hadruplot/hadruplot-app/target
/hadruplot/hadruplot-core/target
/hadruplot/hadruplot-core/target
/hadruplot/hadruplot-app/target
/hadruplot/hadruplot/target
/hadrubox/target/
/tutorials/hadruwaves-tutorial-extra/target
/tutorials/hadruwaves-empty-scala-project/target
/hadruwaves/hadruwaves/target
/tutorials/hadruwaves-tutorial-hl/target/
/tutorials/hadruwaves-tutorial-java/target/
/tutorials/hadruwaves-tutorial-scala/target/


/d_2018_06_10/
/d_2019_04_25/
/old-versions/3.1.33.zip
/tutorials/hadruwaves-tutorial-hl/.pom.xml.kate-swp
/hadruwaves/ntexup-extension-openems/target
/hadruwaves/ntexup-extension-hadruwaves/target
/hadruwaves/ntexup-extension-mw-simulator/target